#section-menu {
    
    background-color: var(--color-primary-2);
    color: var(--color-primary-1);
    
    padding: 20px 4%;
    
    }

    .menu-conteudo h2 {
    
    
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 38px;
    margin-top: 34px;
    padding: 50px;
    
    }
    
    .div-info  {

    width: 100%;
    color: var(--color-primary-2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
      
    }

    .div-info strong {

      font-family: "Poppins", sans-serif;
      font-weight: 600;
      
      }
    
    #div-produtos  {
    
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 18px;
       padding: 0 44px 34px 44px;
             
        }
    .div-bolos  {
    
      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: var(--color-primary-1);
      border-radius: 8px;
      box-shadow: 0px -1px 17px -4px rgb(13, 13, 13);
      overflow: hidden; 
      
        }
        
        .div-bolos img {

            width: 100%;
            max-width: 310px;
            transition: transform 0.5s;  
        }
    
        .div-bolos img:hover {
        
            transform: scale(1.1);
            }
    
       @media  screen and (max-width: 1140px) {
          
            #div-produtos

             {
           
               flex-direction: column;
               gap: 30px;
                      
             }

             .menu-conteudo h2 {
    
              font-size: 30px;
              text-align: center;
                
              }
            
         
             .div-bolos img {
         
              max-width: 250px;
              
              } 
    
              .div-bolos img {
    
                transition: transform 0.5s;  
            }
        
            .div-bolos img:hover {
            
                transform: scale(1.1);
                z-index: 1;
                }
         
             }            
        